.parallax {
	background-image: url(../images/parallax.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50vh;
	width: 100%;
}

.featured {
	padding: 0;
	margin: 0;
}