.desktop--nav 
    nav.dsktp
      ul
        li 
          a(href="#") Home
        li 
          a(href="#") Offers
        li
          a(href="#") Places
        li
          a(href="#") About

.mobile--nav 
    nav.mobile
      ul
        li 
          a(href="#") Home
        li 
          a(href="#") Offers
        li 
          a(href="#") Places
        li
          a(href="#") About