html
head
  include jade/meta.jade
  <meta name="theme-color" content="#db5945">
  link(rel="stylesheet", href="css/style.css")
body

  include jade/nav.jade

  header
    .hero-img
    .hero-text The best restaurant
      .hero-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .hero-cta <a href="#">Book a table</a>

  section.offers
    h2 Offers

    ul
      li.fish FISH
      li.meat MEAT
      li.salad SALADS
      li.dessert DESSERTS
    
  
    .showcase--fish  
        img(src="https://unsplash.it/240/?image=780")
        img(src="https://unsplash.it/240/?image=780")
        img(src="https://unsplash.it/240/?image=780")
        img(src="https://unsplash.it/240/?image=780")
    .show-more <a href=""> show more  > </a>
      
  section.features

    .parallax
