html
head
  include jade/meta.jade
  <meta name="theme-color" content="#db5945">
  link(rel="stylesheet", href="css/style.css")
body

  nav
    ul
      li 
        a(href="#") Home
      li 
        a(href="#") Offers
      li 
        a(href="#") Places
      li
        a(href="#") About

  header
    .hero-img
    .hero-text The best restaurant
      .hero-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .hero-cta <a href="#">Book a table</a>


  section.offers
    h2 Our dishes

      ul
        li FISH
        li MEAT
        li.selected-item SALADS
        li DESSERTS
    
  
    .showcase  
        img(src="https://unsplash.it/240?image=835")
        img(src="https://unsplash.it/240?image=835")
        img(src="https://unsplash.it/240?image=835")
        img(src="https://unsplash.it/240?image=835")
    .show-more <a href=""> show more  > </a>
      
